<h1>On categories page</h1>
<%= link_to new_category_path,class:"nav-link" do %>
  <section class="bg-success shadow text-center text-white p-2 mt-5">
    <p class="border border-white my-3 p-1">Add New Category</p>
  </section>
<% end %>